p {
    text-align: justify;
    font-size: medium;
    color: bisque;
    padding : 10px;
}
th, td {
    border : 1px solid black;
    color : white;
    width : 50px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin : 20px;
}